*{
	font-family:candara;
}

/*navbar*/
.navbar-brand{
	font-size: 25px;
}
.nav-link{
	font-size: 20px;
	margin-right:95px;
}
.nav-link:hover::after{
	content: '';
	display: block;
	border-bottom: 7px solid #4CC9F0;
	padding-bottom:5px;
	width: 90%;
	margin: auto;
	margin-bottom: -20px;
}
.navbar-brand, .nav-link{
	text-shadow: 1px 1px 1px rgba(0,0,0,0.2);	
}


/* carousel */

.carousel img{
	height:450px;
	object-fit:cover;
	margin-top:-25px;
}





/* searchbar */
.searchbar{
	z-index:20;
	left:20%;
}
.search-btn{
	height:100%;
}

.dropdown-item{
	display:inline-block;
	white-space: normal;
	word-wrap: break-word;
}

.dropdown-menu.notif{
	max-height:300px;
	width:300px;
	overflow:auto;
}

.dropdown-menu.komentar{
	width:650px;
}



/* makepost */
.makepost{
	margin-top:100px;
	border:1px solid black;
	border-radius:20px;
	background-color:white;
	padding:30px;

}
.blah {
	display:none;
	max-width:200px;
	margin-left:40px;
	margin-top:10px;
}








/* feeds */
.nama{
	font-size:30px;
	font-weight:bold;
	color:#707070;
}

.post-header{
	margin-bottom:39px;
}

.post-menu{
	margin-right:30px;
}

.title{
	font-size:22px;
	margin-left:-25px;
}

.foto-feeds{
	width:30.91px;
}

.location{
	border: 1px solid black;
	border-radius:10px;
}

.location img{
	max-width:100%;
}

#status{
	font-size:28px;
	color:#707070;
}

.nama{
	font-size:30px;
}

.upload-foto{
	max-width:420px;
}

.komentar{
	background-color:#4cc9f0;
	border-radius:10px;
	padding:15px;
}
.tanggalpost{
	size:40px;
}
.form-komen{
	padding:20px;
}
/*utilities*/
.tombol{
	border-radius: 50px;
	font-size: 17px;
	background-color:#4cc9f0;
	color:#707070;
}

hr{
	border: 1px solid white;
}

.tombolpost{
	width:100px;
}
textarea{
	resize: none;
}

.jumbotron{
	background-image: linear-gradient(190deg, rgba(161, 227, 260,0), rgba(161, 227, 260,1));
}

.fotoprofil{
	width: 37.65px;
	height: 37.65px;
	border-radius: 20px;
	object-fit: cover;
}

/*dekstop version*/
@media (min-width: 992px) { 



}